@import url("reset.css");

body {
	font: normal 14px/1.5em Georgia, 'Times New Roman', Arial, Verdana;
	-webkit-text-size-adjust: 200%;
	color: #666;
	margin: 1em;
}
h1, h1 a, h2, h2 a, h3, h3 a {
	color: #000;
}
h1 a {
	text-decoration: none;
}

a {
	color: #0044CC;
}
a.more:after {
	content: ' »';
}
body.en_EN q:before { content: '“' }
body.en_EN q:after { content: '”' }
body.de_DE q:before, body q:before { content: '„' }
body.de_DE q:after, body q:after { content: '“' }

h1 {
	font-size: 2.5em;
	line-height: 1.3em;
	margin: 0.5em 0em 0.5em 0em;
	border-bottom: 5px solid #323232;
	text-shadow: rgba(0,0,0,0.2) 1px 1px 2px;
}
h2 {
	line-height: 1.5em;
	font-size: 1.5em;
	margin: 0.5em 0em 0.0em 0em;
	text-shadow: rgba(0,0,0,0.2) 1px 1px 2px;
}
h3 {
	font-size: 1.25em;
	line-height: 1.25em;
	text-shadow: rgba(0,0,0,0.2) 1px 1px 2px;
}
em {
	font-weight: bold;
}
p {
	margin: 0em 0em 1.5em 0em;
	padding: 0px;
}
pre {
	display: inline;
	background-color: #FEFDE1;
}
code {
	background-color: #FFFBDF;
	padding: 8px 5px;
	border: 1px solid #A99862;
	display: block;
	overflow: auto;
	white-space:pre;
	margin: 0em 0em 1em 0em;
}

#app {
	margin: 0px auto;
	max-width: 620px;
}
#footer {
	border-top: 5px solid #939393;
	padding-top: 0.25em;
}

ul.inline li {
	display: inline-block;
}
ul.list, ol {
	margin: 0em 0em 1em 0em;
}
ol li {
	list-style-type: decimal;
	margin-left: 1.5em;
}
ul.list li {
	list-style-type: disc;
	margin-left: 1.5em;
}

dl.footnotes {
	font-size: 0.8em;
	line-height: 1.5em;
	border-top: 1px solid #D8D8D8;
}
dl.footnotes dt {
	width: 10px;
	float: left;
	font-weight: bold;
}
dl.footnotes dd {
}

.tag {
	color: #7F7F7F;
	margin: 0em 0.2em 0em 0em;
	font-size: 0.5em;
	padding: 0.2em 0.3em;
	background-color: #E6E6E6;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-box-shadow: 1px 1px 1px rgba(90,90,90,0.3);
	-webkit-box-shadow: 1px 1px 1px rgba(90,90,90,0.3);
	box-shadow: 1px 1px 1px rgba(90,90,90,0.3);
}

.debugOutput {
	display: none;
}